@import "../../colors.scss";

.Layout {
  background-color: $background;
  display: flex;
  flex-direction: column;
  height: 100vh;

  .body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    height: 100%;
  }
}
