$timerWorkCompleted: lightgreen;
$main: rgb(238, 113, 113);
$mainDark: #00478f;
$primary: rgb(255, 103, 103);
$secondary: #ebebeb;
$background: #fdfdfd;
$shortBreak: #7caf1d;
$longBreak: rgb(0, 120, 190);
$static: rgb(192, 192, 192);
